.App {
  /* text-align: center; */
  font-size: 62.5%;
  font-size: 1rem;
  max-width: 1200px;
  min-width: 800px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid #ebfbff;
  padding: 1rem;
}
.content-wrapper > form {
  background-color: #ebfbff;
  padding: 1.5rem;
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
  font-weight: bolder;
}
.content > input {
  border: none;
  height: 2rem;
  width: 15rem;
  border-radius: 0.5rem;
  margin: 0 1rem;
}
.content-wrapper > form > button {
  border: none;
  background-color: #87cefa;
  color: #fff;
  border-radius: 0.5rem;
  padding: 0.5rem 2rem;
}
/* .content > button :hover {
  cursor: pointer;
} */
.working,
.done {
  font-weight: bolder;
  padding-left: 1rem;
}
.working_todo {
  width: 15rem;
  padding: 1rem;
  border: 0.2rem solid #87cefa;
  border-radius: 0.5rem;
  margin-bottom: 1.5rem;
}
.working_todo > h3 {
  margin-top: 0.5rem;
}
.working_btn {
  display: flex;
  justify-content: center;
}
.working_btn > button {
  border: 0.15rem solid #ff8c8c;
  border-radius: 0.5rem;
  width: 8rem;
  height: 2rem;
  margin: 0 0.5rem;
  background-color: transparent;
}
.working_btn > button:nth-child(2) {
  border: 0.15rem solid #74d19d;
}
.working > div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
